[Desktop Entry]
Version=1.5
Type=Application

Name[ak]=Files
Name[ar]=الملفات
Name[bg]=Файлове
Name[ca]=Fitxers
Name[ckb]=پەڕگەکان
Name[cs]=Soubory
Name[da]=Filer
Name[de]=Dateien
Name[el]=Αρχεία
Name[en_GB]=Files
Name[eo]=Dosieroj
Name[es]=Archivos
Name[et]=Failid
Name[fi]=Tiedostot
Name[fr]=Fichiers
Name[gl]=Ficheiros
Name[he]=קבצים
Name[hr]=Datoteke
Name[hu]=Fájlkezelő
Name[id]=Berkas
Name[io]=Faili
Name[it]=File
Name[ja]=ファイル
Name[ka]=Files
Name[ko]=파일
Name[ku]=Dosya
Name[lb]=Dateien
Name[lt]=Failai
Name[mr]=फायली
Name[nb]=Filer
Name[nl]=Bestanden
Name[nn]=Filer
Name[oc]=Fichièrs
Name[pa]=ਫ਼ਾਇਲਸ
Name[pl]=Pliki
Name[pt]=Ficheiros
Name[pt_BR]=Arquivos
Name[ro]=Fișiere
Name[ru]=Файлы
Name[si]=ගොනු
Name[sk]=Súbory
Name[sl]=Datoteke
Name[sr]=Датотеке
Name[sv]=Filer
Name[szl]=Zbiory
Name[th]=ไฟล์
Name[tr]=Dosyalar
Name[ug]=ھۆججەتلەر
Name[uk]=Файли
Name[ur]=فائلیں
Name[vi]=Tập tin
Name[zh_CN]=文件
Name[zh_TW]=檔案
Name=Files
Comment[ar]=تصفح ملفاتك
Comment[bg]=Преглеждане на вашите файлове
Comment[ca]=Navegueu pels fitxers
Comment[ckb]=گەڕان بەناو پەڕگەکانتدا
Comment[cs]=Procházejte své soubory
Comment[da]=Gennemse dine filer
Comment[de]=Dateien und Ordner durchsuchen
Comment[en_GB]=Browse your files
Comment[eo]=Foliumu viajn dosierojn
Comment[es]=Explore sus archivos
Comment[fi]=Selaa tiedostojasi
Comment[fr]=Explorez vos fichiers
Comment[he]=ניווט בין הקבצים שלך
Comment[hr]=Pregledaj svoje datoteke
Comment[hu]=Böngésszen a fájlok között
Comment[id]=Jelajahi berkas Anda
Comment[it]=Sfoglia i tuoi file
Comment[ja]=ファイルを閲覧します
Comment[ka]=ფაილის არჩევა
Comment[ko]=여러분의 파일을 찾아봅니다
Comment[ku]=Çav li pelên xwe le bigere
Comment[lt]=Naršyti failus
Comment[mr]=आपल्या फायली ब्राउझ करा
Comment[nb]=Bla gjennom filer
Comment[nl]=Bestanden doorbladeren
Comment[nn]=Blad gjennom filer
Comment[pa]=ਸਾਰੀਆਂ ਫ਼ਾਇਲਾਂ ਫਰੋਲੋ
Comment[pl]=Przeglądaj swoje pliki
Comment[pt]=Gestão de ficheiros
Comment[pt_BR]=Visualizar seus arquivos
Comment[ru]=Просматривайте свои файлы
Comment[si]=ඔබේ ගොනු විමසන්න
Comment[sk]=Prehliadajte svoje súbory
Comment[sr]=Разгледајте ваше датотеке
Comment[sv]=Bläddra genom dina filer
Comment[th]=เรียกดูไฟล์ของคุณ
Comment[tr]=Dosyalarınıza gözatın
Comment[uk]=Переглянути свої файли
Comment[vi]=Duyệt tập tin  của bạn
Comment[zh_CN]=浏览文件
Comment[zh_TW]=瀏覽您的檔案
Comment=Browse your files
Categories=System;
Keywords[bg]=папка;мениджър;разглеждане;диск;файлова система;
Keywords[ca]=carpeta;gestor;explora;disc;sistema de fitxers;
Keywords[cs]=složka;správce;procházet;disk;souborový systém;
Keywords[da]=mappe;håndtering;udforsk;gennemse;disk;filsystem;
Keywords[de]=Verzeichnis;Ordner;Verwaltung;Durchsuchen;Festplatte;Dateisystem;Explorer;File;Folder;
Keywords[en_GB]=folder;manager;explore;disk;filesystem;
Keywords[eo]=dosiero;dosierujo;mastrumilo;foliumilo;memorujo;dosiersistemo;esplorilo;
Keywords[es]=carpeta;gestor;explorar;disco;sistema de archivos;sistema de ficheros;
Keywords[fi]=folder;manager;explore;disk;filesystem;kansio;hakemisto;tiedostoselain;levy;tiedostojärjestelmä;
Keywords[fr]=dossier;gestionnaire;explorer;disque;système de fichiers;
Keywords[he]=תיקייה;תיקיה;ספריה;מנהל;מנווט;ניווט;עיון;מעיין;כונן;דיסק;מערכת קבצים;קובץ;קבצים;
Keywords[hr]=mapa;upravitelj;istraži;disk;datotečni sustav;
Keywords[hu]=mappa;kezelő;felfedező;tárhely;fájlrendszer;
Keywords[id]=folder;pengelola;jelajah;diska;berkas sistem;
Keywords[it]=cartella;gestore;esplora;disco;file;file system;
Keywords[ja]=folder;manager;explore;disk;filesystem;フォルダー;マネージャー;エクスプローラー;ディスク;ファイルシステム;
Keywords[ka]=folder;manager;explore;disk;filesystem;ფაილი;საქაღალდე;მართვა;
Keywords[ko]=폴더;관리자;찾아보기;디스크;파일시스템;
Keywords[lt]=aplankas;tvarkytuvė;naršyti;diskas;failų sistema;
Keywords[mr]=फोल्डर; व्यवस्थापक; एक्सप्लोर; डिस्क; फाइलसिस्टम;
Keywords[nb]=Mappe;behandler;utforsk;disk;filsystem;
Keywords[nl]=map;beheerder;verken;schijf;bestandssysteem;
Keywords[nn]=mappe;behandlar;handsamar;utforsk;disk;filsystem;harddisk;
Keywords[pa]=ਫ਼ੋਲਡਰ;ਮੈਨੇਜਰ;ਫਰੋਲੋ;ਡਿਸਕ; ਫ਼ਾਇਲਸਿਸਟਮ;
Keywords[pl]=katalog;folder;menedżer;menadżer;manadżer;manedżer;manager;eksploruj;eksplorator;dysk;system plików;
Keywords[pt]=pasta;gestão;explorar;disco;sistema de ficheiros;
Keywords[pt_BR]=pasta;gerenciador;explorar;disco;sistema de arquivos;
Keywords[ru]=folder;manager;explore;disk;filesystem;папка;каталог;менеджер;обзор;диск;файловая система;
Keywords[si]=ගොනුව;කළමනාකරු;ගවේෂණය;තැටිය;ගොනු පද්ධතිය;
Keywords[sk]=priečinok;správca;prehliadať;disk;súborový systém;
Keywords[sr]=фасцикла;датотека;управник;истражи;диск;систем датотека;
Keywords[sv]=mapp;hanterare;utforska;disk;filsystem;
Keywords[szl]=katalog;folder;mynedżer;menadżer;manadżer;manedżer;manager;eksploruj;eksploratōr;dysk;systym zbiorōw;
Keywords[tr]=klasör;yönetici;keşfet;disk;dosya sistemi;
Keywords[uk]=тека;менеджер;огляд;диск;файлова система;
Keywords[zh_CN]=文件夹;管理;浏览;磁盘;文件系统;
Keywords[zh_TW]=folder;manager;explore;disk;filesystem;資料夾;管理員;探索;磁碟;檔案系統;
Keywords=folder;manager;explore;disk;filesystem;

Icon=system-file-manager
Exec=io.elementary.files %U
SingleMainWindow=false
StartupNotify=true
Terminal=false

MimeType=inode/directory;

X-GNOME-Gettext-Domain=io.elementary.files
X-GNOME-UsesNotifications=true

Actions=new-window;root;

[Desktop Action new-window]
Name[ar]=نافذة جديدة
Name[bg]=Нов прозорец
Name[ca]=Finestra nova
Name[ckb]=پەنجەرەی تازە
Name[cs]=Nové okno
Name[cy]=Ffenestr Newydd
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[en_GB]=New Window
Name[eo]=Nova fenestro
Name[es]=Ventana nueva
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ka]=ახალი ფანჯარა
Name[ko]=새 창
Name[ku]=Paceya nû
Name[lt]=Naujas langas
Name[mr]=नवीन विंडो
Name[nb]=Nytt vindu
Name[nl]=Nieuw venster
Name[nn]=Nytt vindauge
Name[oc]=Fenèstra novèla
Name[pa]=ਨਵੀਂ ਵਿੰਡੋ
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ru]=Новое окно
Name[si]=නව කවුළුව
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[szl]=Nowe ôkno
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[uz]=Yangi oyna
Name[zh_CN]=新建窗口
Name[zh_TW]=新視窗
Name=New Window
Exec=io.elementary.files -n

[Desktop Action root]
Name[bg]=Нов прозорец като администратор
Name[ca]=Finestra nova com a administrador
Name[cs]=Nové okny s oprávněními na úrovni správce systému
Name[da]=Nyt vindue som administrator
Name[de]=Neues Fenster als Administrator ausführen
Name[en_GB]=New Window As Administrator
Name[eo]=Nova administranta fenestro
Name[es]=Ventana nueva como administrador
Name[fi]=Uusi ikkuna ylläpitäjän oikeuksin
Name[fr]=Nouvelle fenêtre en tant qu'administrateur
Name[he]=חלון חדש בתור מנהל
Name[hr]=Novi prozor kao Administrator
Name[hu]=Új ablak rendszergazdaként
Name[id]=Jendela Baru Sebagai Administrator
Name[it]=Nuova finestra come amministratore
Name[ja]=新しい管理者ウィンドウ
Name[ka]=ახალი ფანჯარა ადმინისტრატორის სახელით
Name[ko]=관리자 권한으로 새 창 열기
Name[ku]=Paceyek Nû Weke Rêvebir Veke
Name[lt]=Naujas langas administratoriaus teisėmis
Name[mr]=प्रशासक म्हणून नवीन विंडो
Name[nb]=Nytt vindu som administrator
Name[nl]=Nieuw venster als beheerder
Name[nn]=Nytt vindauge som administrator
Name[pa]=ਨਵੀਂ ਵਿੰਡੋ ਬਤੌਰ ਐਡਮਿਨ
Name[pl]=Nowe okno jako administrator
Name[pt]=Nova Janela como Administrador
Name[pt_BR]=Nova janela como administrador
Name[ru]=Новое окно от имени администратора
Name[si]=පරිපාලක ලෙස නව කවුළුව
Name[sk]=Nové okno v režime správcu
Name[sr]=Нови администраторски прозор
Name[sv]=Nytt fönster som administratör
Name[tr]=Yönetici Olarak Yeni Pencere
Name[uk]=Нове вікно Як адміністратор
Name[zh_CN]=新建管理员窗口
Name[zh_TW]=以管理員身份新開視窗
Name=New Window As Administrator
Exec=io.elementary.files-pkexec
