[Desktop Entry]
Type=Application
Name=Lock screen
Name[fr]=Verouiller l'écran
Exec=loginctl lock-session
Icon=system-lock-screen
NoDisplay=false
Categories=MacUbuntu;
