[Desktop Entry]
Type=Application
Name=Logout
Name[fr]=Fermer la session
Exec=gnome-session-quit --logout --no-prompt
Icon=system-log-out
NoDisplay=false
Categories=MacUbuntu;
