[Desktop Entry]
Name[en]=Activity Monitor
Name[fr]=Moniteur d'activité
Exec=gnome-system-monitor
Icon=utilities-system-monitor
Type=Application
NoDisplay=false
Categories=MacUbuntu;
