[Desktop Entry]
Type=Application
Name[en]=Softwares
Name[fr]=Logiciels
Exec=gnome-software
Icon=org.gnome.Software
NoDisplay=false
Categories=MacUbuntu;
