[Desktop Entry]
Type=Application
Name[en]=System Suspend
Name[fr]=Suspendre l'activité
Icon=system-log-out
Exec=systemctl suspend
NoDisplay=false
Categories=MacUbuntu;
