[Desktop Entry]
Type=Application
Name=Software Updater
Name[en]=Software Updater
Name[fr]=Mises à jour…
Comment=Show and install available updates
Exec=/usr/bin/update-manager
Icon=system-software-update
Terminal=false
NoDisplay=false
OnlyShowIn=Gnome;Pantheon;XFCE;
Categories=xpple;
