[Desktop Entry]
Type=Application
Name[en]=Software Updater
Name[fr]=Mises à jour…
Exec=update-manager
Icon=system-software-update
NoDisplay=false
Categories=MacUbuntu;
